* {

    background-image: url(https://github.com/Jie1020/Neth_img/blob/main/v567-mynt-doodles-01.jpg?raw=true);
    background-position: center;
    background-size: 500px 250px;
}

.header{
    background-color: black;
}